{
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"printWidth": 110,
	"trailingComma": "all",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.hbs",
			"options": {
				"singleQuote": false
			}
		}
	]
}
