/* Form */
#input_ticker {
    text-transform: uppercase;
}

/* Navbar */
.navbar {
    background-color: transparent;
}

/* CHART */
/* Legend */
.legend {
    width: 210px;
    height: 70px;
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.23);
    text-align: left;
    z-index: 1000;
    pointer-events: none;
}

/* Octocat */
.octocat {
    border: 0;
    color: #f4f5f6;
    fill: #333;
    height: 3rem;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 3rem;
    z-index: 2;
}

.octocat .octocat-arm,
.octocat .octocat-body {
    fill: #f4f5f6;
}