/* Form */
#input_ticker {
    text-transform: uppercase;
}

/* Navbar */
.navbar {
    background-color: transparent;
}

.navbar-item img {
    max-height: unset;
    margin: -4px 0px;
}

a.navbar-item.is-active,
a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: #fafafa;
}

/* CHART */
/* Legend */
.legend {
    width: 210px;
    height: 70px;
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.23);
    text-align: left;
    z-index: 20;
    pointer-events: none;
}

/* Tradingview chart */
#iframe_chart {
    width: 100%;
    height: inherit;
}

.tradingview_chart {
    height: 360px;
    overflow: hidden;
}

/* Table */
.table-container {
    max-height: 360px;
    overflow-y: auto;
}

/* Octocat */
.octocat {
    border: 0;
    color: #f4f5f6;
    fill: #333;
    height: 3rem;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 3rem;
    z-index: 2;
}

.octocat .octocat-arm,
.octocat .octocat-body {
    fill: #f4f5f6;
}

/* Footer */

.qrcode {
    max-width: 140px;
}

/* Responsive fixes */
@media (max-width: 410px) {
    .table>tbody {
        font-size: 0.7em;
    }
}