/* Form */
#input_ticker {
    text-transform: uppercase;
}

.main-input {
    width: 100%;
}

/* Navbar */
.navbar {
    background-color: transparent;
}

.navbar-item img {
    max-height: unset;
    margin: -4px 0;
}

a.navbar-item.is-active,
a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: #fafafa;
}

.navbar-item button {
    padding: calc(0.75em - 1px);
}

.navbar-item button.active {
    color: #3273dc;
}

.navbar-end>.navbar-item {
    padding: 0.5rem;
}

.navbar-item>ion-icon,
.support-block ion-icon {
    margin-right: 4px;
}

/* CHART */

/* Legend */
.legend {
    width: auto;
    height: 70px;
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.23);
    text-align: left;
    z-index: 20;
    pointer-events: none;
}

/* Tradingview chart */
#iframe_chart {
    overflow: hidden;
    border-width: 0;
    width: 100%;
    height: inherit;
}

.tradingview_chart {
    height: 360px;
    overflow: hidden;
}

/* Table */
.table-container {
    max-height: 360px;
    overflow-y: auto;
}

#table-statistic {
    width: auto;
    margin-right: 0;
    margin-left: auto;
}

.csv-download {
    padding: 0 0.75em;
}

.is-borderless td,
.is-borderless th {
    border: none;
    border-width: 0;
}

/* Octocat */
.octocat {
    border: 0;
    color: #f4f5f6;
    fill: #333;
    height: 3rem;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 3rem;
    z-index: 2;
}

.octocat .octocat-arm,
.octocat .octocat-body {
    fill: #f4f5f6;
}

/* Footer */

.qrcode {
    max-width: 140px;
}

/* Cookie message */
.cookie-message {
    border-radius: 10px;
    padding: 15px 0;
    background: #f7f8fb;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, .05), 0 10px 10px 2px rgba(0, 0, 0, .05);
    font-size: 12px;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    z-index: 100;
    bottom: 8%;
    left: 2%;
    margin: auto;
    max-width: 540px;
    display: -ms-flexbox;
    display: flex;
}

.cookie-message img {
    height: 35px;
    width: 35px;
    margin: 0 12px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.cookie-message span {
    display: inline-block;
    line-height: 1.5;
    font-size: 0.7rem;
    padding-right: 16px;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.cookie-message button.delete {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: none;
    padding: 12px;
    margin: 0 12px;
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #919191;
    transition: color 0.2s;
}

.cookie-message button.delete:hover {
    color: #795548;
}

/* Helpers */
.hide {
    visibility: hidden;
}

/* Responsive fixes */
@media (max-width: 1215px) {
    .table-data {
        font-size: 0.7em;
    }
}

@media (max-width: 1023px) {
    .table-data {
        font-size: 0.6em;
    }
}

@media (max-width: 856px) {
    .table-data {
        font-size: 0.55em;
    }
}

@media (max-width: 768px) {
    #table-statistic {
        margin-left: 0;
    }
}

@media (max-width: 410px) {
    .table-data {
        font-size: 0.5em;
    }

    .legend {
        width: 220px;
        font-size: 10px;
    }
}

@media (max-width: 330px) {
    #table-statistic {
        font-size: 0.9em;
    }
}