<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tight Shorts | Short Volume Screener</title>
    {{>head}}
</head>

<body>

    {{>navbar}}

	{{{body}}}

    {{>footer}}

    {{>cookie}}

    <script src="/js/basics.js"></script>
</body>

</html>