<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="ticker" content="{{ ticker }}">
    <title>Tight Shorts | Daily Short Sale Volume</title>
    {{>head}}
</head>

<body>

    {{>navbar}}

    <!-- Error message -->
    <div class="modal" id="error-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <ion-icon name="skull-outline"></ion-icon> Error!
                </p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p>Stock <strong id="error-stock"></strong> is not found!</p>
            </section>
        </div>
    </div>
    <!-- Error message: ends -->

	{{{body}}}

    {{>footer}}

    {{>cookie}}

    <script src="/js/basics.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>