<section class="section" id="main-section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-full">
				{{> title }}
				<h5 class="subtitle is-5">Total: <span id="totalStocks"></span></h5>
			</div>
		</div>
		<div class="columns">
			<div class="column is-three-quarters">
				{{>screener_table}}
				{{>screener_pagination}}
			</div>
			<div class="column is-one-quarter">
				{{>screener_panel}}
			</div>
		</div>
	</div>
</section>