<section class="section" id="main-section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-full">
				<h2 class="title">
					Screener
				</h2>
			</div>
		</div>
	</div>
</section>