<section class="section" id="main-section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-full">
				{{> title }}
			</div>
		</div>
		<div class="columns">
			<div class="column is-four-fifths">
				{{>screener_table}}
			</div>
			<div class="column is-one-fifth">
				<p><ion-icon name="filter-outline"></ion-icon> Filters</p>
			</div>
		</div>
	</div>
</section>