<!-- Cookie message -->
<div class="cookie-message hide" id="cookie-message">
	<img src="/img/cookie.png" />
	<span>We use cookies for server authentication to get access for stocks data and to improve your browsing
		experience on our website.</span>
	<button id="cookie-close" class="delete" aria-label="close"></button>
</div>
<!-- Cookie message: ends -->