<!-- Navbar -->
<nav class="navbar container is-widescreen" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src="/img/logo_header.png" width="210" alt="Tight Shorts logo">
		</a>
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbar" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item {{#if isMain}}is-active{{/if}}" href="/">
				<ion-icon name="bar-chart-outline"></ion-icon> Charts
			</a>
			<a class="navbar-item {{#if isScreener}}is-active{{/if}}" href="/screener">
				<ion-icon name="options-outline"></ion-icon> Screener
			</a>
			<a class="navbar-item" href="https://samgozman.gitbook.io/investing/tightshorts/about-project" target="_blank"
				rel="noopener noreferrer">
				<ion-icon name="book-outline"></ion-icon>Guide
			</a>
			<a class="navbar-item" href="https://short-fork.up.railway.app/" id="menu_shortfork">
				<ion-icon name="open-outline"></ion-icon>Short Fork
			</a>
			<a class="navbar-item modal-button is-hidden-desktop" data-target="help-modal">
				<ion-icon name="information-circle-outline"></ion-icon> What is it all about?
			</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					<ion-icon name="link-outline"></ion-icon> Contacts
				</a>

				<div class="navbar-dropdown">
					<a class="navbar-item" href="https://t.me/samgozman" target="_blank" rel="nofollow" rel="noreferrer"
						rel="noopener">
						<ion-icon name="send-outline"></ion-icon> Telegram
					</a>
					<a class="navbar-item" href="https://www.tinkoff.ru/invest/social/profile/aqua_disco/" target="_blank"
						rel="nofollow" rel="noreferrer" rel="noopener">
						<ion-icon name="pulse-outline"></ion-icon> Tinkoff Pulse
					</a>
					<a class="navbar-item" href="#support">
						<ion-icon name="cash-outline"></ion-icon> Support Project
					</a>
					<hr class="navbar-divider">
					<a class="navbar-item" href="https://github.com/samgozman/tightshorts/issues" target="_blank" rel="nofollow"
						rel="noreferrer" rel="noopener">
						<ion-icon name="bug-outline"></ion-icon> Report an issue
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navbar-end">
		{{#if isMain}}
		<div class="navbar-item">
			<button class="button is-light is-hidden-touch" id="change-grid" title="Change grid">
				<ion-icon name="grid-outline"></ion-icon>
			</button>
		</div>
		{{/if}}
		<div class="navbar-item">
			<button class="button is-light modal-button is-hidden-touch" data-target="help-modal" title="About">
				<ion-icon name="information-circle-outline"></ion-icon>
			</button>
			<!-- Modal ? message -->
			<div class="modal" id="help-modal">
				{{>help}}
			</div>
			<!-- Modal ? message: ends -->
		</div>
	</div>
</nav>
<!-- Navbar: ends -->