<!-- Form -->
<form class="field has-addons" id="search">
	<div class="control main-input has-icons-right">
		<input class="input" id="input_screener_tickers" type="text" placeholder="Tickers" />
		<span class="icon is-small is-right">
			<ion-icon name="search-outline"></ion-icon>
		</span>
	</div>
	<div class="control">
		<button class="button is-link" id="sreener_search_button" type="submit">Find</button>
	</div>
</form>
<!-- Form: ends -->