<nav class="pagination is-right" role="navigation" aria-label="pagination">
	<a class="button pagination-previous" id="prevButton">
		<span class="icon">
			<ion-icon name="chevron-back-outline" size="large"></ion-icon>
		</span>
	</a>
	<a class="button pagination-next" id="nextButton">
		<span class="icon">
			<ion-icon name="chevron-forward-outline" size="large"></ion-icon>
		</span>
	</a>
	<ul class="pagination-list" id="paginationList">
	</ul>
</nav>