<h1 class="title is-3"> {{ title }} <sup class="is-size-7">
		<a href="https://github.com/samgozman/tightshorts/releases" target="_blank" rel="nofollow"
			rel="noreferrer" rel="noopener">
			{{ version }}
		</a>
	</sup>
</h1>